<!-- Parent/Child Interaction example -->

<!-- Child component start -->
<!-- <hello *ngIf="show" [name]="name" [lastname]="lastname"></hello> -->
<!-- Child component end -->

<!-- Form field -->
<!-- <input type="text" [(ngModel)]="name" name="name" id="name">
<input type="text" [(ngModel)]="lastname" name="lastname" id="lastname">
<button (click)="Toggle()">Toggle</button> -->
<!-- Form field -->


<!-- Child/parent with life cycle hook example  start-->
<!-- <user-form></user-form> -->
<!-- Child/parent with life cycle hook example end-->

<!-- table data with user type start -->
<!-- <table>
    <tbody>
        <tr *ngFor="let user of users; let index = index">
            <td>{{index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table> -->

<!-- table data with user type end -->

<!-- <hello-form></hello-form> -->
<h1>
	My App
</h1>
<a routerLink="/users" routerLinkActive="badge-success" class="badge badge-primary mb-2">Go to users</a>
<router-outlet></router-outlet>