<!-- <hello *ngIf="show" [name]="name" [lastname]="lastname"></hello>
<input type="text" [(ngModel)]="name" name="name" id="name">
<input type="text" [(ngModel)]="lastname" name="lastname" id="lastname">
<button (click)="Toggle()">Toggle</button> -->

<!-- <user-form></user-form> -->

<!-- <table>
    <tbody>
        <tr *ngFor="let user of users; let index = index">
            <td>{{index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <hello-form></hello-form> -->
<h1>
	My App
</h1>
<a routerLink="/users" routerLinkActive="badge-success" class="badge badge-primary mb-2">Go to users</a>
<router-outlet></router-outlet>